@*@model IEnumerable<Health.Models.Medicine>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@
@model PagedList.IPagedList<Health.Models.Medicine>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().idMedicine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().producer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().stock)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idMedicine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
</table>

@using (Html.BeginForm("Index", "Medicine", FormMethod.Post))
{
    <input type="submit" value="Resupply" name="Resupply" class="btn-default" />
}








